fastapi
uvicorn
streamlit
psycopg2-binary
PyYAML
bcrypt
python-dotenv
python-multipart
pymilvus
pymilvus[milvus_lite]
pypdf
docx2txt
numpy
langchain_community
langchain_openai
langchain_milvus
google-generativeai
openai
litellm
requests
PyJWT
